<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOVImoveis</title>
</head>
<body>
    <h2 style="text-align: center;">Venha procurar sua casa dos sonhos</h2>
    <br>
        <div align="right">
            <a href="/login/">LogOut</a>
        </div>
        <br>
        <form action="/buscar/" method="GET">
            <div align="center">
                <input type="text" name="busca" placeholder="Digite sua busca...">
                <button type="submit">BUSCAR</button>
            </div>
        </form>    
</body>
</html>