<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/login/" align="right">Logout</a>
    <h1>Minhas Casas à Venda</h1>
    {% for casa in casas %}
        <li>
            {{ casa.valor }} - {{ casa.endereco }} - {{ casa.id }} -  <a href="/imoveis/mostrarlista/{{ casa.id }}/">Editar</a> / <a href="">Deletar</a>
        </li>
    {% endfor %}
</body>
</html>